{% extends 'wild_hacks/base.html' %}
{% block static_files %}
    {% load static %}
    <link href="{% static 'css/ideas_list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
List of Ideas
{% endblock %}

{% block content %}
    <div class="row">
    {% for idea in object_list %}
        <a href="{{ idea.get_absolute_url }}">
        <div class="col-md-4">
            <div class="idea"> 
            <h2>{{ idea.title }}</h2>
            <p>
                {{ idea.short_discription }}
            </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>!-->
            {{ idea.likes }}
             
        </div>
        </a>
        <a href="{% url 'ideas:like' idea.pk %}"> Up Vote</a>----
        -----<a href="{% url 'ideas:dislike' idea.pk %}"> Down Vote</a>
    </div>
        
    {% endfor %}
    </div>
{% endblock %}

