{% extends 'wild_hacks/base.html' %}
{% block static_files %}
    {% load static %}
    <link href="{% static 'css/ideas_list.css' %}" rel="stylesheet">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock %}

{% block title %}
List of Ideas
{% endblock %}

{% block content %}
    <div class="row">
    {% for idea in object_list %}
        <a href="{{ idea.get_absolute_url }}">
        <div class="col-md-4">
            <div class="idea"> 
            <h2>{{ idea.title }}</h2>
            <p>
                {{ idea.short_discription }}
            </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>!-->
            <p id="votes_{{idea.pk}}">{{ idea.likes }}</p>
             
        </div>
        </a>
        <button class="up_vote" value={{ idea.pk }}> Up Vote </button>
        <button class="down_vote" value={{ idea.pk }}> Down Vote </button>
    </div>
        
    {% endfor %}
    </div>
    <h1>life</h1>
    <div>
    {% csrf_token %}
    <input type='text' id='search' name='search'></input>
    <ul id="search-results">

    </ul>
</div>
{% endblock %}

